header{
    height: 150px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    
}

.brand {
    background-color: #f3f6ff;
    padding: 10px 50px;
    border-radius: 50px;
    cursor: pointer;
}

ul{
    display: flex;
    justify-content: right;
    padding: 0px;
    margin: 0px;
    margin-top: -15px;

}

li{
    
    display: inline;
    padding: 10px 30px;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 20px;
}


